<header>

  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">Hello, busy!</h1>
      <p class="lead">Want to increase Your productivity?</p>
      <hr class="my-4">
      <p>MyList lets you create a todo list, that keeps tracks of what needs doing.</p>
      <a class="btn btn-primary btn-lg" href= "register" role="button">Register today!</a>
    </div>
  </div>

</header>






