<div class="fluid-container">
  <nav class="navbar navbar-light bg-light">

    <span class="navbar-nav mb-0 h1">MyList</span>

    <ul class="nav navbar-nav navbar-right">
      <% if current_user %>
        <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
      <% else %>
         <li><%= link_to "Login", new_user_session_path %></li>
      <% end %>
    </ul>

  </nav>
</div>



